<?xml version="1.0" encoding="utf-8" ?>  
<configuration>
  <appSettings>
    <add key="LatestDocument_URL" value="https://contrataciondelestado.es/sindicacion/sindicacion_643/licitacionesPerfilesContratanteCompleto3.atom"/>
    <add key="CPV_codelist" value="https://contrataciondelestado.es/codice/cl/1.04/CPV2007-1.04.gc"/>  
    <add key="ContractingSTC_codelist" value="https://contrataciondelestado.es/codice/cl/2.08/ContractingSystemTypeCode-2.08.gc"/>
  </appSettings>  
</configuration>